.wrapper {
    padding: 30px;
}
.inputsTd {
    padding-left: 5px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.prices {
    margin-left: 10px;;
}
.deleteButton {
    margin-left: 5px;
}
.titlebars {
    width: 140px;
}
li {
    list-style: none;
}
.inputslist{
    padding-left: 0;
}
.addtocartbtn {
    margin-top: 5px;
}
.inCartButton {
    margin-left: 10px;
}

.selected {
    font-Weight: bold;
    color: #0056b3;
}
.addCartOne {
    margin-left: 10px;
}
